.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkslategray;
}

.navbar li {
    float: left;   
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 50px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: rgb(208, 224, 224); 
    color: black;
}

.header {
    text-align: center;
}

.rubrik {
    text-align: center;
}